/***************************************************
  Author: ch233
  Version: 1.0
  LastUpdate: 2020-04-03
  **************************************************
  This style sheet use for UI color scheme.
 */

$White: hsla(0, 0%, 100%, 1);
$Blue: hsla(201, 100%, 42%, 1);
$Red: hsla(360, 100%, 41%, 1);
$Dark: hsla(0, 0%, 20%, 1);
